asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2
django-allauth==65.18.0
django-countries==9.0.0
idna==3.18
pillow==12.2.0
psycopg2==2.9.12
requests==2.34.2
sqlparse==0.5.5
stripe==15.3.0
typing_extensions==4.16.0
urllib3==2.7.0
