{% extends "base.html" %}

{% block extra_title %}My Profile{% endblock %}

{% block content %}

    <div class="container py-5">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="card shadow-sm">

                    <div class="card-header bg-black">
                        <h2 class="mb-0">My Orders</h2>
                    </div>

                    <div class="card-body">

                        <h3 class="mt-5">Order History</h3>

                        {% if orders %}

                            <table class="table">

                                <thead>

                                <tr>
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>

                                </thead>

                                <tbody>

                                {% for order in orders %}

                                    <tr>

                                        <td>
                                            <a href="{% url 'checkout_success' order.id %}">
                                                #{{ order.id }} </a>
                                        </td>

                                        <td>{{ order.date|date:"d M Y" }}</td>

                                        <td> <span class="badge fs-6

                                        {% if order.order_status == 'SH' %}bg-success

                                        {% elif order.order_status == 'RT' %}bg-danger

                                        {% elif order.order_status == 'DR' %}bg-info

                                        {% else %}bg-warning text-dark{% endif %}">

                                        {{ order.get_order_status_display }} </span>

                                        </td>

                                        <td>€{{ order.order_total }}</td>

                                        <td>
                                            <a href="{% url 'checkout_success' order.id %}"> View </a>
                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>

                            </table>

                        {% else %}

                            <p>You haven't placed any orders yet.</p>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
