{% extends "base.html" %}

{% block extra_title %}
Order Confirmation
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="mb-4">
        Thank You!
    </h1>

    <p>
        Your order has been successfully placed.
    </p>

    <hr>

    <h4>
        Order Number
    </h4>

    <p>
        {{ order.id }}
    </p>

    <hr>

    <h4>
        Customer Details
    </h4>

    <p>
        <strong>Name:</strong>
        {{ order.full_name }}
    </p>

    <p>
        <strong>Email:</strong>
        {{ order.email }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ order.phone_number }}
    </p>

    <hr>

    <h4>
        Delivery Address
    </h4>

    <p>
        {{ order.street_address1 }}
    </p>

    {% if order.street_address2 %}
        <p>{{ order.street_address2 }}</p>
    {% endif %}

    <p>
        {{ order.town_or_city }}
    </p>

    {% if order.postcode %}
        <p>{{ order.postcode }}</p>
    {% endif %}

    <p>
        {{ order.country }}
    </p>

    <hr>

    <h4>
        Items Purchased
    </h4>

    {% for item in order.lineitems.all %}

        <p>

            {{ item.book.title }}

            ×

            {{ item.quantity }}

        </p>

    {% endfor %}

    <hr>

    <h3>

        Total:
        €{{ order.order_total }}

    </h3>

    <a href="{% url 'books' %}"
       class="btn btn-primary">

        Continue Shopping

    </a>

</div>

{% endblock %}