{% extends "base.html" %}

{% block extra_title %}Add Book{% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card shadow-sm">
                <div class="card-header bg-black">
                    <p class="h2 mb-0">Add Book</p>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-success"> Add
                            Book
                        </button>
                        <a href="{% url 'books' %}" class="btn btn-secondary">
                            Cancel </a>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function () {
            let file = $('#new-image')[0].files[0];
            $('.custom-file-label').text(file.name);

        });

    </script>
{% endblock %}
