{% extends "base.html" %}

{% block extra_title %}{{ book.title }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}"
                             class="img-fluid mb-3 book-detail-image"
                             alt="{{ book.title }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <p class="lead">{{ book.title }}</p>
                    <div class="form-row d-flex gap-2 border-bottom pb-2 mb-2">
                        <a href="{% url 'add_to_cart' book.id %}"
                           class="btn btn-success"> Add
                            to Cart </a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'add_review' book.id %}"
                               class="btn btn-primary">
                                Write a Review </a>
                        {% endif %}
                        <a href="{% url 'books' %}"
                           class="btn btn-secondary"> Back to Books </a>
                    </div>
                    <dl class="row">
                        <dt class="mb-0 col-sm-3">Author</dt>
                        <dd class="mb-0 col-sm-9">{{ book.author }}</dd>
                        <dt class="mb-0 col-sm-3">Publisher</dt>
                        <dd class="mb-0 col-sm-9">{{ book.publisher }}</dd>
                        <dt class="mb-0 col-sm-3">Language</dt>
                        <dd class="mb-0 col-sm-9">{{ book.language }}</dd>
                        <dt class="mb-0 col-sm-3">Pages</dt>
                        <dd class="mb-0 col-sm-9">{{ book.pages }}</dd>
                        <dt class="mb-0 col-sm-3">ISBN</dt>
                        <dd class="mb-0 col-sm-9">{{ book.isbn }}</dd>
                        <dt class="mb-0 col-sm-3">Description</dt>
                        <dd class="mb-0 col-sm-9 text-break">{{ book.description }}</dd>
                    </dl>
                    {% if request.user.is_superuser %}
                    <div class="d-flex gap-2 border-top pt-2 mt-2">
                            <a href="{% url 'edit_book' book.id %}"
                               class="btn btn-warning"> Edit </a>
                            <a href="{% url 'delete_book' book.id %}"
                               class="btn btn-danger"> Delete </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mt-4 border-top pt-2">
            <p class="display-6">Customer Reviews</p>
            {% if book.reviews.all %}

                {% for review in book.reviews.all %}

                    <div class="card mb-3">

                        <div class="card-body">
                            <strong>{{ review.user.username }}</strong>

                            <span class="text-warning">
                    {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %} ★ {% else %}
                            ☆ {% endif %}
                    {% endfor %}

                </span>

                            <small class="text-muted"> {{ review.created_on|date:"d M Y" }} </small>

                            <p class="mt-2"> {{ review.comment }} </p>

                            {% if request.user == review.user %}
                                <a href="{% url 'edit_review' review.id %}"
                                   class="btn btn-sm btn-warning"> Edit </a>
                                <a href="{% url 'delete_review' review.id %}"
                                   class="btn btn-sm btn-danger"> Delete </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <p>No reviews yet.</p>
            {% endif %}

        </div>

    </div>

{% endblock %}
