{% extends "base.html" %}

{% block extra_title %}Book Details{% endblock %}

{% block content %}

<div class="container">
    {% if book.cover_image %}
    <img src="{{ book.cover_image.url }}"
         class="img-fluid mb-3 book-detail-image"
         alt="{{ book.title }}">
    {% endif %}
    <h1>{{ book.title }}</h1>

    <p><strong>Author:</strong> {{ book.author }}</p>

    <p><strong>Publisher:</strong> {{ book.publisher }}</p>

    <p><strong>Language:</strong> {{ book.language }}</p>

    <p><strong>Pages:</strong> {{ book.pages }}</p>

    <p><strong>ISBN:</strong> {{ book.isbn }}</p>

    <p><strong>Price:</strong> €{{ book.price }}</p>

    <div class="mt-4">

    <a href="{% url 'add_to_cart' book.id %}"
       class="btn btn-success">
        Add to Cart
    </a>

    <a href="{% url 'books' %}" class="btn btn-secondary">
        Back to Books
    </a>

</div>

</div>

{% endblock %}