{% extends "base.html" %}

{% block extra_title %} Edit Subscriber {% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card shadow-sm">
                <div class="card-header bg-black">
                    <p class="h2 mb-0">Edit Subscriber</p>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-warning" type="submit"> Save
                            Changes
                        </button>
                        <a href="{% url 'subscriber_list' %}"
                           class="btn btn-secondary"> Cancel </a>
                        <a href="{% url 'delete_subscriber' subscriber.id %}"
                           class="btn btn-danger"
                           onclick="return confirm('Delete subscriber \'{{ subscriber.email }}\'? This cannot be undone.');">
                            Delete
                        </a>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
